@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-spline-mono: "Spline Sans Mono", monospace;
   --background: #2e0000;
   --foreground: #ffffff;
}

body {
  font-family: var(--font-spline-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #ffffff;
    --foreground: #130000; */
     --background: #2e0000;
   --foreground: #ffffff;
  }
}
